#chat::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

#chat::-webkit-scrollbar-track,
.scrollable::-webkit-scrollbar-track {
    cursor: pointer;
}

#chat::-webkit-scrollbar-thumb,
.scrollable::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #9ca3af;
    border-radius: 10px;
}
